.header-dash-blue {
    background: #69abcd;
}
.header-dash-green {
    background: #4dac5f;

}
.header-dash-orange {
    background: #e57b16;

}
.header-dash-gray {
    background: #e7e7e9;
}
.ico-dash-blue {
    background: #4e8fb1;
    padding: 10px
}
.ico-dash-green {
    background: #3e9d50;
    padding: 10px

}
.ico-dash-orange {
    background: #d86f0b;
    padding: 10px
}
.box-dash-white {
    padding: 0;
    background: #fff;
}
.box-dash-green {
    padding: 0;
    background: #58b369;
}
.box-dash-blue {
    padding: 0;
    background: #76b5d6;
}
.box-dash-orange {
    padding: 0;
    background: #e97f1a;
}
.box-dashbox {
    padding: 2px;
}
.box-dash {
    min-height: 206px;
    margin-bottom: 3px;
}
.box-dash ul {
    margin-bottom: 0;
    padding-top: 15px;
}

.box-dash-calendar {
    min-height: 415px;
    margin-bottom: 3px;
}

.temp-txt {
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    clear: both;
    display: block;
}
.temp-number {
    text-align: center;
}

.box-dash-blue th {
    background: #5da2c6 !important;
    color: #fff;
    font-weight: normal;
    border-top: none !important;
    border-right: 1px solid #95c8e3 !important;
    font-size: 12px;
    border-bottom: 2px solid #95c8e3 !important;
}

.box-dash-blue th.headerSortUp:after {
    content: "↓";
    position: relative;
    right: -10px;
}
.box-dash-blue th:hover {
    background: #488db0 !important;
    cursor:pointer;
}
.box-dash-blue .table-bordered {
    border: none !important;
}
.box-dash-blue td {
    background: none !important;
    border: 1px solid #95c8e3 !important;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

.box-dash-blue .btn-default {
    background: #95c8e3 !important;
    color: #fff !important;
    border:none !important;
    float: right;
    margin-right: 10px;
}
.box-dash-blue .btn-default:hover {
    background: #4e8fb1 !important;
}

.day-week {
    width: 14%;
    text-align: center;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-top: 10px;
    padding: 30px 15px;
}
@media(max-width: 320px) {
    div.day-week-margin div.day-week {
        width: 100% !important;
    }
}

.day-week-margin {
    margin: 10px;
}

.day-week:first-child{
    border-left: none;
}

.day-week-temp {
    padding: 0;
    text-align: center;
}

.day-week-min {
    padding: 0;
}

.day-week-max {
    padding: 0;
}

.day-week-img {
    margin: 10px auto;
}


.image-wrap {width:39.4%; display:inline-block;}

.header-pos{
    position: relative;
}
.ico-dica-hu{
    position: absolute;
    right: 0;
    top: 5px;
    width: 25px;
    height: 25px;
    display: none;
}

.box-adm {
    border-radius: 5px;
    margin: 0 0 1em 0;
}

.box-adm .header-adm {
    border-radius: 5px 5px 0 0;
    padding:10px;
}
.box-adm .header-adm .foto {
    border-radius: 5px;
    border:1px solid #ccc;
    /*padding:15px; */
    margin-top: 7px;
    margin-left: -1px;
    width: 92px;
    height: 53px;
}
.box-adm .header-adm .foto img {
    margin-top: 11px;
}
.box-adm .header-adm h3 {margin-top:15px; font-size: 18px; color:#00395c; font-weight: bold;}
.box-adm .header-adm h3 span {display: block; color: #666; font-weight: normal; margin-top: 5px; font-size: 14px;}
.foto.white {background: #fff;}

.box-adm .salesList {height: 190px; overflow-y: scroll;}
.box-adm .salesList table {border: none;}
.box-adm .salesList table td {border: none; background: #fff !important; border-bottom: 1px solid #f1f2f7; padding:10px 20px; height: 20px; font-size:14px;}
.box-adm .salesList table td span {display:block; background:#95b8cd; padding: 5px; border-radius: 5px; width: 90px; color: #fff; text-align: center;}

.box-adm .salesShort {padding:20px; background: #fff;}
.box-adm .salesShort ul {list-style: none; padding:0;}
.box-adm .salesShort ul li {line-height: 25px; background: url(../images/pontilhado-vendas.png) repeat-x center;}
.box-adm .salesShort ul li span {background: #fff;}
.box-adm .salesShort ul li span.esq {display: block; float: left;}
.box-adm .salesShort ul li span.dir {display: block; float: right; font-weight: bold; color: #3bb32e;}


/*#lista-hover .fa {width: 22px;}*/

span.subtit {font-size:12px; display: block; margin-top: 0; color: #fff; position: relative; top: -10px;}

.highcharts-title {display: none;}

#soldGraphic {margin-bottom: 1em !important; border-radius: 10px; }
.header-pos.chart i {
    margin-right: 10px;
    padding: 12px;
    vertical-align: middle;
}
.header-boxdash {
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #555;
}


/* BOX NEWS FEATURE DASHBOARD DO HOTEL */
.arial {
    font-family: arial;
}
.font-size24 {
    font-size: 24px;
}
.font-bold {
    font-weight: bold;
}
.box-dash-lastminute {
    min-height: 220px;
    margin-bottom: 10px;
    background-image: url('/assets/images/last-minute/banner_lastminute_bg.jpg');
    background-position: 0;
    background-size: cover;
}
.texto-lastminute {
  text-align: center;
  margin-top: 54px;
}
.texto-lastminute p {
    margin-bottom: 0px;
}
.texto-lastminute p.second-paragraf {
    font-size: 16px;
}
.texto-lastminute p.second-paragraf a:hover,
.texto-lastminute p.second-paragraf a:focus {
    color: white;
    text-decoration: none;
}
.btn-quero-cadastrar-lastminute {
    border: 2px solid white;
    color: white;
    width: 253px;
    height: 63px;
    line-height: 63px;
    font-family: arial;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.btn-quero-cadastrar-lastminute a:hover {
    color: white;
    text-decoration: underline;
}
.lastminute-chaves img {
    height: auto;
    position: absolute;
    left: 0;
    top: -8px;
}
.container-btn {
    margin-top: 0;
    text-align: center;
}
@media (min-width: 992px) {
    .container-btn {
        margin-top: 50px;
    }
}
@media (max-width: 991px) {
    .texto-lastminute {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .btn-quero-cadastrar-lastminute {
        width: 165px;
        height: 42px;
        line-height: 42px;
        font-size: 12px;
    }
}
@media (max-width: 838px) {
    .texto-lastminute {
        margin-top: 5px;
    }
    .texto-lastminute p.first-paragraf {
        font-size: 20px;
    }
    .lastminute-chaves img {
        left: -53px;
    }
}
@media (max-width: 768px) {
    .texto-lastminute img {
        width: 215px;
        height: 32px;
    }
    .texto-lastminute {
        margin-top: 20px;
    }
    .texto-lastminute p.first-paragraf {
        font-size: 19px;
    }
    .texto-lastminute p.second-paragraf {
        font-size: 15px;
    }
    .lastminute-chaves img {
        height: auto;
        position: absolute;
        left: -67px;
        top: -8px;
    }
}
@media (max-width: 580px) {
    .box-dash-lastminute {
        min-height: 186px;
    }
    .lastminute-chaves img {
        display: none;
    }
    .texto-lastminute {
        margin-top: 0;
    }
    .texto-lastminute p.first-paragraf {
        display: none;
    }
    .second-paragraf {
        margin: 10px 0;
    }
}
.padding-10 {
    padding: 10px;
}
.underline {
    text-decoration: underline;
}
.modal-lastminute .modal-dialog {
    width: 800px;
}
.modal-body p.question {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.modal-body hr {
    margin-top: 0;
}

@media (max-width: 840px) {
    .modal-lastminute .modal-dialog {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 790px) {
    .header-pos {
        padding-bottom: 0;
    }
}
