/*PROVISÓRIO*/
.title-novo-hu {
    text-indent: -9999px;
    position: absolute;
}
.fontBold {font-weight: bold;}
.marinho {color: #195ab3;}
.marinho strong{color: #195ab3;}

.col-calendar .font15 {color: #195ab3;}
.day-disable:before {display: block;}
.day-disable *, .day-disable a, .day-disable strong{color: #ccc;}
.day-disable .box-valor.bg-laranja {background: #ccc;}
.day-disable .box-valor.bg-laranja strong {color: #fff;}


.no-border-top {border-top-width: 0 !important;}
.mg-top7em {margin-top: 10em;}
.pos-relative {position: relative;}
.branco {color: #fff;}
.transicao{
    transition:all .2s ease-in;
    -moz-transition:all .2sease-in;
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
}


.transicao:hover {
    transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
}
.header-cadastro-hotel {
    padding: .5em;
    background: #00395c;
}
/*.header-cadastro-hotel p {
    margin-top: 1.2em;
    color: #f8a125;
    font-size: 1.2em;
}*/
h1{
    height: 34px;
    overflow: hidden;
}
.container-logo {top: 0;}
.container-logo:hover {top: -41px}
.font-logo {color: #fff; font-size: 3em;}
.font-logo2 {color: #ffbf00;}
.font-logo { display: block;}
.font-logo:hover, .font-logo2:hover {text-decoration: none;}
.font-logo:hover {color: #fff;}
.font-logo2:hover {color: #ffbf00;}

.form-dados-principal div label,
.checkin-checkout div label,
.form-contato div label,
.form-dados-faturamento div label,
.form-dados-bancarios div label,
.form-escolher-imagem div label,
.form-dados-acommodation div label,
.form-politica-modal div label{
    margin-top: 1em;
}
.form-dados-principal,
.checkin-checkout,
.form-contato,
.form-dados-faturamento,
.form-dados-bancarios,
.form-escolher-imagem,
.botao-enviar-cadastro-hotel,
.form-dados-acommodation{
    border: 1px solid #dbdddf;
    padding-bottom: 1em;
    background: #fff;

}
/*.botao-enviar-cadastro-hotel {
    margin: 1em 0 .5em;
}*/
.box-adicionarcampo {
    margin: 42px 0 0;
}
.campo-end-hotel {
    width: 86%;
    display: inline-block;
    vertical-align: middle;
}
.map-enderceco-hotel {
    position: absolute;
    z-index: 2;
}
.bt-fechar {
    background: green;
    border-radius: 50%;
    width: 24px;
    height: 22px;
    display: block;
    position: absolute;
    right: 0;
    z-index: 3;
    text-align: center;
    color: #fff;
}
/***DIVISÕES DE BOXS***/
.divisao-box {
    padding:20px 10px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.divisao-box legend {
    padding-bottom: 20px;
}
.divisao-box label.checkbox-inline {
    margin-left: 0;
}

@media (max-width: 1200px) {
    .campo-end-hotel {
        width: 83%;
    }
}
@media (max-width: 450px) {
    #logo {
        width: 76%;
    }
    .box-logo-hotel {
        float: right;
    }
    .box-logo {
        width: 22.666667%;
    }
    .box-logo-hotel {
        width: 51.333333%;
    }
    .box-usuario {
        float: right;
        width: 100%;
    }
    .campo-end-hotel {
        width: 100%;
    }
    .header-boxdash {
        font-size: 10px !important;
    }
    .ico-dash-green,
    .ico-dash-orange,
    .ico-dash-blue {
        display: none;
    }
    .header-dash-orange,
    .header-dash-green,
    .header-dash-blue {
        text-align: center;
    }
    .day-week,
    .day-week:first-child {
        width: 100% !important;
        border: 1px solid #95c8e3 !important;
    }
    .box-sunrise {
        float: right;
    }
    .box-dash ul {
        padding-left: 21px;
    }
    .box-clicks,
    .box-vendas {
        padding: 0 !important;
    }
    .num-clicks,
    .num-vendas {
        font-size: 10px;
    }
    .day-prevision-temp {
        display: none;
    }
    .box-dash-calendar {
        min-height: 0 !important;
    }
    .box-dash {
        min-height: 170px !important;
    }
    .box-caracteristicas-propriedade-mob {
        overflow-y: scroll;
        height: 170px;
    }
}

/* -------Biblioteca admin ----*/
.w100 {width: 100%;}
/***MARGENS ***/
.mg-top {margin-top: 1.1em;}
.mg-top2em {margin-top: 2em;}
.mg-top4em {margin-top: 4em;}
.mg-top6em {margin-top: 6em;}
.mg-top20 {margin-top: 20px}
.mg-bottom20 {margin-bottom: 20px;}

.mg-right15px {margin-right: 15px;}
.mg-right5px {margin-right: 5px;}

.mg-bottom1em {margin-bottom: 1em;}
.mg-bottom2em {margin-bottom: 2em;}
.mg-bottom4em {margin-bottom: 4em;}
.mg-bottom8em {margin-bottom: 8em;}

.mg-right1em {margin-right: 1em;}

/***PADDINGS ***/
.pd-top20 {
    padding-top: 20px;
}
.pd-bottom2em {
    padding-bottom: 2em;
}
.padding-laterais5 {
    padding: 0 5px;
}
.padding-laterais10 {
    padding: 0 10px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.no-paddin-left {
    padding-left: 0;
}
.no-padding {
    padding: 0 !important;
}
.padding-top20 {
    padding-top: 20px;
}
.padding-bottom20 {
    padding-bottom: 20px;
}
.padding-left15 {
    padding: 0 0 0 15px;
}
/***CURSOR ***/
.pointer {
    cursor: pointer;
}
/***POSIÇÕES***/

.posAbsolute {
    position: absolute;
}

.posRelative {
    position: relative;
}

.dblock {
    display: block;
}
.dline {
    display: inline;
}
.dline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.vertical-middle {
    vertical-align: middle;
}
.over-hidden {
    overflow: hidden;
}
/****FLOATS***/
.aLeft {
    float: left;
}
/****NO-FLOATS***/
.no-float {float: none;}

/***Rotações***/
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*--------Style padronizado para design atomico------*/

/***********************************
            ÁTOMOS
*********************************/
/*** DIMENSÕES ***/
/*** FONT ***/
.font8 {
    font-size: .66em;
}
.font9 {
    font-size: .75em;
}
.font10 {
    font-size: .82em;
}
.font12 {
    font-size: 1em;
}
.font13 {
    font-size: 1.05em;
}
.font14 {
    font-size: 1.12em;
}
.font15 {
    font-size: 1.3em;
}
.font16 {
    font-size: 1.4em;
}
.font22 {
    font-size: 1.4em;
}
.font24 {
    font-size: 1.5em;
}
.font26 {
    font-size: 2.2em;
}
.font27 {
    font-size: 2.25em;
}
.font28 {
    font-size: 2.3em;
}

.upper {
    text-transform: uppercase;
}
.under-line {
    text-decoration: underline;
}

/*** CORES ***/
/*** FONT ***/
.cor-branca {
    color: #fff;
}
.cor-vermelha {
    color: #cd0a0a;
}
.very-dark-gray {
    color: #696969;
}
.laranja {
    color: #f68731;
}
.amarelo {
    color: #e7c824 !important;
}
.cor-amarelo-forte {
    color: #ffb338;
}
.cor-azul-claro {
    color: #77b5d4;
}
.cor-verde-claro {
    color: #7ed676;
}
.cor-vermelho-escuro {
    color: #cf3e3e;
}
.cor-cinza {
    color: #ccc;
}
.verde-musgo {
    color: #516c05;
    display: block;
    line-height: 14px;
}
.verde-maney {
    color: #3f8d06;
}
.marinho2 {
    color: #00395c;
}
.vermelho-alert-close {
    color: #e09e9f;
}
.azul-light {
    color: #3497ff;
}

/*** BACKGROUND ***/
.very-dark-blue {
    background: #00395c;
}
.white {
    background: #fff;
}
.bg-laranja {
    background: #fbb033;
    font-size: 10px;
    height: 25px;
}
.bg-cinza-claro {
    background: #fafafa;
}
.bg-cinza {
    background: #eee;
}
.bg-cinzaHeader-modal {
    background: #f4f4f4;
}
.bg-vermelho-badge {
    background: #cd0a0a;
}

/*** BORDAS ***/
.bd-full-cinza {
    border: 1px solid #ccc;
}
.bd-top-marinho {
    border-top: 3px solid #00395C;
}
.bd-top-cinza {
    border-top: 1px solid #ccc;
}
.bd-left-cinza {
    border-left: 1px solid #ccc;
}
.bd-bottom-cinza {
    border-bottom: 1px solid #ccc;
}
.bd-topdashed-cinza {
    border-top: 1px dashed #ccc;
}
.bd-bottomdashed-cinza {
    border-bottom: 1px dashed #ccc;
}
.no-border {
    border: 1px solid #fff !important;
}
/*** LABELS ***/
form label {
    color: #696969;
}
/***MENSAGENS DE ERRO**/
.form-politica-modal div.controls span.jsErrorMsg {
    top: 94px;
}
.form-politica-modal div.form-group span.jsErrorMsg {
    top: 60px;
}
.form-politica-modal div.input-group span.jsErrorMsg {
    top: 41px;
}
#jsSendTax div.controls span.jsErrorMsg {
    top: 76px;
}
#jsSendTax div.input-group span.jsErrorMsg {
    top: 41px;
}

/***BOTÕES***/
.bt-successgreen-lg {
    color: #fff;
    border-radius: 5px;
    background: #5ac765;
    padding: 6px 8px;
    display: inline-block;
}
.bt-exportar-lista {
    color: #fff;
    border-radius: 5px;
    background: #f0ad4e;
    padding: 6px 8px;
    display: inline-block;
}
.bt-login-small {
    width: 92px;
    height: 40px !important;
    border-radius: 3px;
    border: 1px solid #d76c1f;
    background: #f58332;
    box-shadow: 0 22px 31px #f8a026 inset;
    font-size: 1em;
    color: #fff;
}
.bt-login-small:hover {box-shadow: none;}
.bt-add {
    font-size: 1.7em;
}
.bt-add {
    background: none;
    border: none;
    color: #52a41c;
}
.title-modal {
    margin-bottom: 0 !important;
}
.bt-remove,
.bt-remove a:hover {
    color: #fff !important;
    font-size: 17px;
}
.bt-remove2,
.bt-remove2 a:hover {
    color: #fb5b46 !important;
    font-size: 1.7em;
}
.btn-azul1 {
    color: #fff;
    background-color: #508bc8;
    border-color: #508bc8;
    padding: 6px 4px;
}
.btn-azul1:hover,
.bt-successgreen-lg:hover {
    color: #fff;
    transition: all .2s;
}
.btn-azul1:hover {
    background: #4172a4;
}
.bt-successgreen-lg:hover {
    background: #4aa653;
}
button.js-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    right: 17px;
    font-size: 20px;
    top: 10px;
}
.js-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
/*codigo que será usado
.btn-azul1,
.bt-successgreen-lg {
    position: relative;
    overflow: hidden;
}
.btn-azul1,
.btn-azul1:before {
    color: #fff;
}
.btn-azul1 span,
.bt-successgreen-lg span {
    font-family: 'Lato', sans-serif !important;
    position: relative;
    top: 0;
}
.btn-azul1 span,
.btn-azul1:before,
.bt-successgreen-lg span,
.bt-successgreen-lg:before {
    transition: all .2s;
}
.btn-azul1:before,
.bt-successgreen-lg:before {
    position: absolute;
    left: 45%;
    top: -30px;
    font-size: 25px;
}
.btn-azul1:hover span,
.bt-successgreen-lg:hover span {
    top: 30px;
}
.btn-azul1:hover:before,
.bt-successgreen-lg:hover:before {
    top: 5px;
}*/

/****************************FORMULÁRIO *********************/
/***LEGENDS***/
.titulo-form-bullet {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.titulo-form-bullet em {
    display: inline-block;
    padding: 2px;
    border-radius: 81%;
    background: #00395c;
    color: #fff;
    height: 25px;
    margin: 0 5px 0 0;
    font-size: 14px;
    position: relative;
    top: -3px;
}
.legend-collapse {
    position: relative;
    bottom: -13px;
    background: #fff;
    left: -15px;
}
/*** INPUTS ***/
form .controls input,
form input.form-control,
form select.form-control,
form .controls button,
input.form-control,
select.form-control{
    height: 32px;
}
form .controls input,
form select.form-control,
select.form-control,
.controls input{
    font-style: italic;
}
/***Circles***/
/************Circulo icones tabela propriedade*/
.circle-blue,
.circle-green,
.circle-yellow,
.circle-red,
.circle-cinza {
    border-radius: 50%;
    padding: 2px 4px;
    display: inline-block;
    text-align: center;
}
.circle-cinza {
    width: 21px;
    height: 21px;
    background: #b6b6b6;
}
/*** TABS ***/

.lista-tab {border-bottom: 1px solid #ccc; height: 66px;}

.lista-tab li.active a {
    color: #f68731;
}

.lista-tab li.active a,
.lista-tab li a{
    /*padding-top: 20px;*//*Medina*/
}

.lista-tab li:first-child {
    border-left: 1px solid #ccc;
}

.lista-tab li, .lista-tab li.active {
    border: 1px solid #c7c3c3;
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin-right: 0.1%;
}
.lista-tab li a {
    color: #e77e24;
    padding:0;
    display: inline-block;
    font-weight: bold;
}
.lista-tab li a:hover {
    background: #fff;
}

.lista-tab li.active a,
.lista-tab li.active a:hover,
.lista-tab li.active a:focus{
    background: transparent;
    border: none!important;
}
.lista-tab li a{
    display: block;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}
.lista-tab li.active{
    border: 1px solid #ccc;
    /* border-top: 0; */
    height: 66px;
    position: relative;
    border-bottom: 1px solid #fff;
    top: 1px;
    /*border-top:0;*//*Medina*/
    /*-webkit-transform:scale(1,1.1) translate(0, -5px); /* prefixo para browsers webkit */
    /*-moz-transform:scale(1,1.1) translate(0, -5px); /* prefixo para browsers gecko */
    /*-o-transform:scale(1,1.1) translate(0, -5px); /* prefixo para opera */
    /*transform:scale(1,1.1) translate(0, -5px);*/

}

/***BULLETS***/
.bullet-first {
    width: 23px;
    height: 22px;
    margin-right: 1%;
    display: inline-block;
    background: #003965;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 0.77em;
}

/***GLYPHICON***/
.glyphico-small {
    font-size: 0.7em;
    margin-right: 1em;
}

/***STARS***/
.zero{width: 0!important;}
.one {width: 35px!important;}
.two {width: 75px!important;}
.three {width: 110px!important;}
.four {width: 145px!important;}
.five {width: 180px!important;}
.six {width: 208px!important;}

.stars,
.stars-show{
    width: 214px;
    height: 32px;
    position: absolute;
    top: 31px;
    background: url(../images/star/star.png);
}
/*classe usada para exibir estrelas sem interatividade*/
.stars-show {top: 0;}
.colors-stars {
    width: 0;
    height: 30px;
    background: #e77e24;
}

/***Bicos/Setas branco borda cinza***/
.seta-top-white,
.seta-top-border-cinza {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
}
.seta-top-white {
    border-bottom: 13px solid #fff;
    top: -13px;
    }
    .seta-top-border-cinza {
        border-bottom: 13px solid #ccc;
        top: -14px;
}
/*Hack para mozila*/
@-moz-document url-prefix() {
    .seta-top-border-cinza {
        top: -13px
    }
    .seta-top-white {
        top: -12px;
    }
}


/***Tabelas***/
.table thead {
    background: #f1f2f7;
}
.table-white {
    background: #fff;
}
/***EFEITOS***/
.transicao {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.girar {
    -webkit-animation: girar .5s  linear infinite;
    -moz-animation: girar .5s linear infinite;
    -o-animation: girar .5s linear infinite;
    animation: girar .5s linear infinite;
}

@-webkit-keyframes girar { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes girar { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes girar { 100% { -O-transform: rotate(360deg); } }
@keyframes girar { 100% { transform:rotate(360deg); } }


/**IMAGENS**/
.img-photo-principal {
    width: 240px;
    height: 260px;
}

/**COLUNAS**/
.column-3 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}
/**ANCORAS**/
.a-underline {
    text-decoration: underline;
}

/***********************************
            MOLÉCULAS
*********************************/
/*** Menu por imagem ***/
.navegacao-img {
    border-bottom: 0;
}

.dia-semana {font-size: 12px;}

.box-login-admin .controls {position: relative;}
.box-login-admin .controls .jsErrorMsg {position: absolute; top: -17px; font-size: 12px;}


/*-----HACKS-----*/
/*-----HACK PARA NAVEGADORES COM MOTORES WEBKIT(CHROME E SAFARI)
USADO PARA A ALTURA FACEBOOK E BANNERS PROMOCIONAIS-----
@media screen and (-webkit-min-device-pixel-ratio:0) {
        #facebook { height: 407px !important; }
}*/

/*-----HACK PARA IE6, IE7, IE8, IE9 IE10-----
#facebook{height: 404px\9 !important; }*/

/*-----HACK PARA FIREFOX-----
@-moz-document url-prefix() {
  .selector {color:...; }
}*/

/* PAGE PROPERTY LIST */
.wrap-filter-fields {
    float: left;
    width: calc(100% - 200px);
}
.wrap-properties-list-btn {
    float: right;
}
@media (max-width: 1368px) {
    .wrap-filter-fields {
        width: 100%;
    }
    .wrap-filter-fields .box-campo-busca-propriedade.form-group {
        width: 33%;
    }
}
@media (max-width: 767px) {
    .wrap-filter-fields .box-campo-busca-propriedade.form-group {
        width: 100%;
    }
}
@media (min-width: 1565px) {
    .wrap-filter-fields .box-campo-busca-propriedade.form-group:first-child {
        width: 50%;
    }
}
@media (min-width: 1390px) {
    .wrap-filter-fields .box-campo-busca-propriedade.form-group:first-child {
        width: 40%;
    }
}
@media (max-width: 1369px) {
    .wrap-filter-fields,
    .wrap-properties-list-btn {
        float: none;
    }
    .wrap-properties-list-btn {
        display: block !important;
        padding-top: 20px;
    }
}
