<div class="mdl-grid" ng-controller="ExerciseController">
    <div class="mdl-cell--2-col"></div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell--8-col">
        <div class="mdl-card__actions question-list">
            <form action="" ng-controller="QuestionController">
                <div class="mdl-grid">
                    <div class="mdl-cell--2-col"></div>
                    <div class="mdl-cell--7-col">
                        <h2>Genética - Módulo 1</h2>
                        <h3>Biologia</h3>
                        <ul class="question-list__questions">
                            <li ng-repeat="question in questions">
                                <legend>
                                    <b>[[question.questionNumber]].</b>
                                    [[question.name]]
                                </legend>
                                <div class="mui-checkbox" ng-repeat="answer in question.answers">
                                    <label>
                                        <input type="radio" name="[[question.name]]" ng-model="answer.id">
                                        [[answer.name]]
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell--3-col">
                        <button class="mdl-button mdl-js-button mdl-button--raised question-list__button">
                            MANDA BALA
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>