.ui-autocomplete-category {
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
	background: #e3f3fe;
	color: #00395c;
	border-bottom: 1px dashed #dbdddf;
	border-top: 1px dashed #dbdddf;
	font-style: italic;
}
.autoComLoading { position:absolute; width:16px; height:16px; margin-left: -18px; background:url(../images/principal/icones/loading-pequeno.gif)}
.ofertaOpcao{font-style:italic; margin-left: 10px}
.maisOpcao{font-style:italic; float:right; margin-right: 10px}
#name-filter-hotel .autoComLoading { margin-top: 21px !important;}