.show-dan{
	-webkit-animation:showToastyGuy 1.5s;
	   -moz-animation:showToastyGuy 1.5s;
	     -o-animation:showToastyGuy 1.5s;
	        animation:showToastyGuy 1.5s;
}

@-webkit-keyframes showToastyGuy 
{
	0% {right: -360px;}
	40% {right: 0;}
	60% {right: 0;}
        70% {right: 0;}
        80% {right: 0;}
	100% {right: -360px;}
}

@-moz-keyframes showToastyGuy 
{
	0% {right: -360px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -360px;}
}

@-o-keyframes showToastyGuy 
{
	0% {right: -360px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -360px;}
}

@keyframes showToastyGuy 
{
	0% {right: -360px;}
	40% {right: 0;}
	60% {right: 0;}
        70% {right: 0;}
        80% {right: 0;}
	100% {right: -360px;}
}