composer.lock
composer.phar
composer
.idea
nbproject
*.pyc
www.pid
vagrant*
.vagrant/
!/composer.phar
*.*~
*~
vendor/*
config/settings_local.php
/node_modules
web/.htaccess
web/.htaccess
web/index.php
*.DS_Store
server-confs/*
var/logs/*
/bower_components
