.centralizar {
    margin: 0 auto;
    float: none;
}
.box-login-admin {
   // margin-top: 10%;
}

body {
    /*To hide the horizontal scroller appearing during the animation*/
    
   // background: #00395c;
   background: url(../../images/login/bg-primary.jpg) center center fixed no-repeat;
   background-size: cover;
   overflow: hidden;
   width: 100%;  
}

#clouds-dia{
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

#clouds-tarde{
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #fcddab 0%, #fff 100%);
    background: -linear-gradient(top, #fcddab 0%, #fff 100%);
    background: -moz-linear-gradient(top, #fcddab 0%, #fff 100%);
}

#clouds-noite{
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #1f1f8b 0%, #fff 100%);
    background: -linear-gradient(top, #1f1f8b 0%, #fff 100%);
    background: -moz-linear-gradient(top, #1f1f8b 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute; 
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px; top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

.form-login, .box-login-temperatura {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px 0 0 3px;
    /*box-shadow: 4px 3px 20px #555;*/
    padding: 39px 51px;
    position: relative;
    z-index: 2;
}
.box-login-temperatura{
    border-radius: 0 3px 3px 0;
}
.esqueci-senha a:hover {
    text-decoration: none;
    color: #f68731;
}
@media (max-width: 767px) {
    .esqueci-senha {
        margin-bottom: 10px;
    }
}

.remove-load{
    display: none;
}

/***BOX TEMPERATURA**/
.hora {
    display: block;
    background: url(../../images/icons/login/hora.png) no-repeat;
    width: 29px;
    height: 33px;
}
.nublado {
    display: block;
    background: url(../../images/icons/login/nublado.png) no-repeat;
    width: 51px;
    height: 34px;
}
.chuva {
    display: block;
    background: url(../../images/icons/login/chuva.png) no-repeat;
    width: 51px;
    height: 34px;
}
.lua {
    display: block;
    background: url(../../images/icons/login/lua.png) no-repeat;
    width: 51px;
    height: 34px;
}
.nublado-com-lua {
    display: block;
    background: url(../../images/icons/login/nublado-com-lua.png) no-repeat;
    width: 51px;
    height: 34px;
}
.nublado-com-sol {
    display: block;
    background: url(../../images/icons/login/nublado-com-sol.png) no-repeat;
    width: 51px;
    height: 34px;
}
.sol {
    display: block;
    background: url(../../images/icons/login/sol.png) no-repeat;
    width: 51px;
    height: 34px;
}

.box-login-temperatura {
    border-left: 1px dashed #ccc;
    height: 289px;
}
.text-temperatura {
    font-size: 3em;
}
.bloco-temp-2 .form-control {
    height: 42px !important;
}
.bloco-temp-1 {
    margin: 0 0 1.7em;
}
.bloco-temp-2 {
    margin-bottom: 1em;
}
@media (min-width:768px) {
    .box-login-temperatura {
        margin-left: 0 !important;
    }
}
select {
    background: none !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    padding-left: 1.8em !important;
    font-size: 1.6em !important;
}
select:hover {
    box-shadow: none !important;
}
#jsError {
    top: 155px;
    position: fixed;
    width: 100%;
    z-index: 9000;
}
.alert-display{
    width: 763px;
    margin: 10px auto;
}
.mensagemLoad {
    line-height: 60px;
}