<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ app.title_page }}{% endblock %}</title>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
        <link href="{{ app.asset_path }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.asset_path }}/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{{ app.asset_path }}/css/login/login.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.asset_path }}/css/font-awesome.min.css" rel="stylesheet"/>
       
        {% endblock %}
        
        {% block pagescripts %}
        <!--Javascrip-->
        <script src="{{ app.asset_path }}/js/jquery-2.1.1.min.js"></script>
        <script src="{{ app.asset_path }}/js/bootstrap.js"></script>
        <script src="{{ app.asset_path }}/js/function.js"></script>
        <script src="{{ app.asset_path }}/js/login/login.js"></script>
       
        {% endblock %}
    </head>
    <body>
      <div id="jsError">
          <input type="hidden" id="urlAssets" value="{{ app.asset_path }}" />
      </div>
      {% block content %}{% endblock %}
    </body>
</html>
