<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ app.title_page }}{% endblock %}</title>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}

        {% endblock %}
        
        {% block pagescripts %}
        <!--Javascrip-->

        {% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
</html>
